.hero-heading-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  pointer-events: none; /* Prevent hover from parent div */
}

.hero-heading {
  font-weight: 600;
  color: #eaefef;
  position: relative;
  display: inline-block;
  transform: skew(-10deg);
  letter-spacing: 0.1em;
  transition: all 0.2s ease;
  pointer-events: auto; /* Re-enable hover on the heading itself */

}

.hero-heading {
  font-size: 4rem;
}

@media (max-width: 1024px) {
  .hero-heading {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .hero-heading {
    font-size: 2.3rem;
  }
}


.hero-heading::before {
  content: attr(data-heading);
  position: absolute;
  transition: all 0.2s ease;
  backface-visibility: hidden;
  color: #7F8CAA;
  z-index: -1;
  left: 5px;
  top: 5px;
  white-space: nowrap;
}

@media (max-width: 1280px) {
  .hero-heading::before {
    white-space: normal;
    width: 100%;
    word-break: break-word;
  }
}

.hero-heading:hover::before,
.hero-heading.active::before {
  left: 0px;
  top: 0px;
}

.hero-heading:hover,
.hero-heading.active {
  color: white;
}

@media (max-width: 1280px) {
  .hero-heading {
    pointer-events: none;
  }
}
